*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(12,23,255,0.1);
}

.container{
    background: linear-gradient(#292a3038 .1rem, transparent .1rem),
    linear-gradient(90deg, #292a303a .1rem, transparent .1rem);
    height: 100vh;
    background-size: 4rem 4rem;
}