*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(12,23,255,0.1);

}

.container{
    background: linear-gradient(#292a3038 .1rem, transparent .1rem),
    linear-gradient(90deg, #292a303a .1rem, transparent .1rem);
    padding: 10px;
    width: 100%;
    background-size: 4rem 4rem;
}
.main-section{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
    height: 100vh;
    overflow: hidden;
}
.cards {
    width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   place-items: center;
   gap: 20px;
}


.card{
    height: 200px;
    width: 200px;
    border: 1px solid rgba(12,23,255,0.2);
    backdrop-filter: blur(10px) saturate(200%);
    background: rgba(12,23,255,0.1);
    border-radius: 12px;
    padding: 10px;
     position: fixed;
}
.edit{
    background: rgba(255, 12, 32, 0.2);
}
.edit{
    height: 500px;
    width: 150px;
    border: 1px solid rgba(12,23,255,0.2);
    backdrop-filter: blur(10px) saturate(200%);
    background: rgba(12,23,255,0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}
.add{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.add svg{
    transition: 0.4s ease-in-out;
}
.add svg:hover{
    opacity: .5;
    transition: 0.4s ease-in-out;
    transform: rotate(20deg);
}
.colors{
    margin-top: 20px;
    transition: 1s ease-in-out;
}
.color{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid #0000006e;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.color.add{
    height: 40px;
    width: 40px;
    background: rgba(255, 12, 32, 0.4);

}
.card svg{
    height: 20px;
    cursor: pointer;
}
.card svg:hover{
    opacity: 0.4;
    transform: rotate(360deg);
    transition: all .5s ease-in-out;
}

.card p{
    border-bottom: 2px solid rgba(12,23,255,0.2);
}



@media screen and (max-width:896px) {
    .main-section{
        flex-direction: column;

        
    }
    .edit{
        transform: translateY(-60px) rotate(90deg);
        width: 100px;
        height: auto;
        
    }
    .color{
    height: 20px;
    width: 20px;
    }
}

